.landingpage-col-full {
  padding: 0;
  background-image: url("../../public/images/nadia-clabassi-JWCGHZcNXB4-unsplash.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  background-position: top;
}
.landingpage-title {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 40%;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
